# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# PlanetScale database connection string
DATABASE_URL="file:./db.sqlite"

# Next Auth
NEXTAUTH_SECRET="" # openssl rand -base64 32
NEXTAUTH_URL=""

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Next Auth Google Provider
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""